.wrapper {
    display: grid;
    margin: 0;
    /* width: 1414px; */
    grid-template-rows: 134px 1fr;
    grid-template-columns: 0fr 10fr;
    grid-gap: 10px;

    grid-template-areas: "h h" "n c";
}
.active {
    color: rgb(211, 58, 121);
}

