.contact {
    background-color: gainsboro;
}
.contact__name h3 {
    text-align: center;
    margin-top: 100px;
}
.contact__title h1 {
    text-align: center;
}
.contact__social {
    text-align: center;
    font-size: 20px;
}
.contact__subtitle {
    margin-bottom: 25px;
    text-align: center;
}

.contact__icons {
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}
.contact__icons svg {
    margin: 20px;
    color: #293258;
}

.contact__icons svg:hover {
    transform: scale(1.2);
    transition: .5s;
}


.contact__form {
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(80, 48, 48);
    width: 430px;
    box-shadow: 3px 3px 150px;
    border-radius: 15px;
}
.contact__input {
    display: flex;
    justify-content: space-evenly;
}

.contact__input input {
    margin-left: 10px;
    height: 30px;
    width: 200px;
    padding-left: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
}
.contact__textarea textarea {
    outline: none;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 417px;
    height: 100px;
    border-radius: 4px;

}
.contact__btn button {
    margin-top: 10px;
    height: 30px;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;

}
.contact__btn button:hover {
    background-color: red;
    color: #fff;
    transition: 0.5s;
}